
body{
    width: 90%;
    margin: auto;
    background: -webkit-linear-gradient(-2deg, rgb(22, 135, 237), rgb(154, 157, 160));
    background: linear-gradient(-2deg, rgb(22, 135, 237), rgb(154, 157, 160));
    background-image: url("Images/pexels-mudassir-ali-2680270.jpg") ;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    font-family:"Open sans",serif;
    
}

body > p{
    font-weight: bold;
}



header > h1{
    background-color: yellow;
    text-align: center;
}

blockquote{
    width: 50%;
    margin: auto;
    font-size: 1.6em ;
    background-color: lightgrey;
    border-left: 3px solid firebrick;
    padding: 80px 30px;
    font-style: italic;
}

blockquote > p{
    font-style: normal;
}

.first p:first-of-type{
    font-weight: bold;
}

p{
	font-size: 16px;
	font-family: "Times New Roman",Georgia,Garamond;
	color: #262323;
}

q{
    font-style: italic;
}

ul li{
    padding: 20px 20px 30px 0px;
    width: 25%;
}

ul  li:nth-of-type(1){
    background-image: url(Images/bien.png);
    background-repeat: no-repeat;
    background-position: right;   
}

ul li:nth-of-type(2){
    background-image: url(Images/mal.png);
    background-repeat: no-repeat;
    background-position: right;
}

ul li:nth-of-type(3){
    background-image: url(Images/chat.png);
    background-repeat: no-repeat;
    background-position: right; 
}


.farmer{
    border-left: 3px solid red;
}

.villagers{
    border-left: 3px solid orange;
}

em{
    text-transform: uppercase;
    font-style: normal;

}

.good{
     color :green;

}

.bad{
    color: red;
}

table{
    border-collapse: collapse;
}

table td, table th{
    border: 1px solid black;
}

table tr:nth-child(odd){
    background-color: grey;
}

table tr:nth-child(even){
    background-color: white;
}


a{
    text-decoration: none;
	color: #262323;
}

a:hover{
    color: orange;
}

img{
    margin: 10px;
    height: 500px;

}

#first_picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

#second_picture{
    text-align: center;
    float: left;
}

#third_picture{
    text-align: center;
    float: right;
}

.mars{
    right: auto;
    margin-top: 30px;
}

.story{
    clear: left;
}



.table{
    clear: both;
}

.conclusion{
    clear: right;
}


footer{
    clear: right;
}
